.title {
  padding: 10px;
  font-size: 2rem;
  color: #fff;
  width: 500px;
 
}

.head{
  height: 4rem;
  width: 100%;
  background-color: #4a5568;
  display: flex;
  color:#A9A9A9 ;
  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.menu{
  padding: 10px;
  margin: 10px;
  list-style: none;
  display: inline;
  float: left;
}


.text_left{
  float: left;
  padding-left: 50px;
  width: 50%;
  font-size: 18px;
}
.text_right{
  float: right;
  padding-left: 50px;
  width: 50%;
  font-size: 18px;
}